@keyframes titleMove {
    from {
        left: 0;
    }
    to {
        left: -420px;
    }
}
@keyframes titleMoveBackwards {
    from {
        left: -420px;
    }
    to {
        left: 0;
    }
}
@keyframes overlayMove {
    from {
        right: 0;
    }
    to {
        right: -420px;
    }
}
@keyframes overlayMoveBackwards {
    from {
        right: -420px;
    }
    to {
        right: 0;
    }
}
.card {
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    max-height: 180px;
    transition: all .1s linear;
    cursor: pointer;
    filter: drop-shadow(5px 10px 5px rgb(236, 227, 227));
}
.card:hover {
    filter: drop-shadow(5px 10px 5px rgb(131, 122, 122));
}
.card__image {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    object-position: top;
    transform: scale(1);
    transition: transform .3s ease;
    aspect-ratio: 1/1;
}
.card__image-wrapper {
    position: relative;
}
.card__image-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: -420px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
    padding: 10px;
    box-sizing: border-box;
    animation: overlayMove .3s linear backwards;
}
.card__image-overlay_hidden {
    animation: overlayMoveBackwards .3s .3s linear forwards;
}
.card__image_hovered {
    transform: scale(1.05);
}
.card__description {
    color: #fff;
    margin: 0;
}
.card__link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    min-width: 40%;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 5px;
    transition: all .2s linear;
}
.card__link:hover {
    border: 1px solid #1df0fb;
    color: #1df0fb;
}
.card__link-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.card__title {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(29, 240, 251, .9);
    padding-left: 20px;
    animation: titleMoveBackwards .3s linear backwards;
}

.card__title_hidden {
    animation: titleMove .3s linear forwards;
}
  @media screen and (max-width: 800px) {
    .card {
      max-width: 90%;
      margin: 10px auto;
    }
  }
  @media screen and (max-width: 600px) {
    .card {
        max-width: 100%;
    }
    .card__link {
      font-size: .8rem;
    }
    .card__description {
        font-size: .9rem;
      }
  }