.about__social-icon {
  width: 40px;
  height: 40px;
}
.about__social-link {
  position: relative;
}
.about__social-link_active {
  color: #000;
}
.about__social-link_active::before {
  position: absolute;
  content: "<";
  right: 50px;
  font-size: 30px;
}
.about__social-link_active::after {
  font-size: 30px;
  position: absolute;
  content: ">";
  left: 50px;
}
